<div class="contentUsage">
    <h1> Hello. This is homepage for hw20 from MP</h1>
    <h4>Just test. Now after travis succesfully pass heroku deployment happen</h4>
    <div class="md-whiteframe-z1 list-container" layout="row" flex>
        <md-content flex>
            <md-list flex>
                <md-item flex>
                    <md-item-content>

                        <div class="md-tile-content">
                            <h3>Heroku</h3>
                            <h4><a href="https://shengofertravis.herokuapp.com/#/">Link on heroku</a></h4>

                            <p>
                                This is used to host app.
                                Settings in Procfile.
                                Heroku connected to github project page. Watching master branch and deploy every time, travis passed
                            </p>
                        </div>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>

                    <md-item-content>

                        <div class="md-tile-content">
                            <h3>Travis</h3>
                            <h4><a href="https://travis-ci.org/shengofer/angular-travis">Travis for project</a></h4>

                            <p>
                                Settings in travis.yml
                                Travis watching master branch and run after every commit to github
                            </p>
                        </div>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>

                    <md-item-content>

                        <div class="md-tile-content">
                            <h3>Karma and jasmine for test</h3>
                            <h4><a href="https://travis-ci.org/shengofer/angular-travis">Travis for project</a></h4>

                            <p>
                               Can be found under test/unit.
                                Also after running gulp task "gulp tests:unit" under build/coverage are showed test coverage of our code
                            </p>
                        </div>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>

                    <md-item-content>

                        <div class="md-tile-content">
                            <h3>Gulp</h3>

                            <p>
                               For task runner using gulp
                            </p>
                        </div>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>


                    <div class="md-tile-content">
                        <h3>nvm</h3>

                        <p>
                            nvm using to set up version
                        </p>
                    </div>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>

                    <div class="md-tile-content">
                        <h3>eslint</h3>

                        <p>
                            Watching our code to show errors and warnings.
                            Settings in .eslintrc
                        </p>
                    </div>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>
