<div class="contentUsage">
    <h1> Hello. This is homepage for hw20 from MP</h1>

    <div class="md-whiteframe-z1 list-container" layout="row" flex>
        <md-content flex>
            <md-list flex>
                <md-item flex>
                    <md-item-content>

                        <div class="md-tile-content">
                            <h3>Heroku</h3>
                            <h4><a href="https://shengofertravis.herokuapp.com/#/">Link on heroku</a></h4>

                            <p>
                                This is used to host app.
                            </p>
                        </div>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>

                    <md-item-content>

                        <div class="md-tile-content">
                            <h3>Travis</h3>
                            <h4><a href="https://travis-ci.org/shengofer/angular-travis">Travis for project</a></h4>

                            <p>
                                item.notes
                            </p>
                        </div>
                    </md-item-content>
                    <md-divider ng-if="!$last"></md-divider>
                </md-item>
            </md-list>
        </md-content>
    </div>
</div>
