
<div>

    <div class="description"><h2 class="md-title">The Most productive mentees</h2>
    <p>This chart show quantity of homework which mentee had done at least on 1 points</p>
    </div>
    <bar-chart-axes data={{barAxesCtrl.series}}></bar-chart-axes>
</div>

<md-divider></md-divider>

<!--<div>

    <h2 class="md-title">The Most productive mentees</h2>
    <p>This chart show quantity of homework which mentee had done at least on 1 points</p>
    <bar-chart-axes data={{barAxesCtrl.scoreMentees}}></bar-chart-axes>
</div>-->
